sudo: required

services:
  - docker

language: python

python:
  - "3.7"

install:
  - pip install -r requirements.txt

script:
  - python3 -m pytest -v
  # - flake8

after_success:
  - sh .travis/deploy_dockerhub.sh